@model EntityListViewModel<Developer>

@{
    Layout = @"~/Views/Layouts/Admin.cshtml";
    ViewData["Title"] = "Admin - Developers list";
}

<h1>Developers</h1>

<div class="form-row">
    <a asp-action="Create" class="btn">Create developer</a>
</div>

<div class="features-group">
    <h2>Developers list</h2>
    <ul class="reset features-list">
        @foreach (var developer in Model.Entities)
        {
            <li class="feature">
                <a asp-action="Edit" asp-route-id="@developer.Id" class="feature-link">@developer.Name</a>
            </li>
        }
    </ul>
</div>